.bg_container {
  display: flex;
  flex-direction: column;
}
.paragraph {
  font-size: 12px;
  text-align: center;
}
.heading {
  text-align: center;
}
.reccommend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
